@media screen and (max-width: 520px) {
    /* #nav-links {
        display: none;
        color: red;
    }
    */

    nav {
        display: flex;
        justify-content: center;

        #nav-logo {
            position: absolute;
            left: 2rem;
            h1, span {
                font-size: 1.3rem;
            }
        }
        #nav-links {
            p {
                display: none;
            }

            .special-btn {
                position: absolute;
                right: 2rem;
                width: 50px;
            }

            #brgr-btn {
                display: flex;
                right: 6rem;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #main {
        margin: 0 2rem;
        padding-top: 3.5rem;
        .profile-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        #profile-img{
            height: 175x;
            width:175px;
        }
    
        #profile-info{
            font-family: 'Inter', sans-serif;
            margin-top: 4rem;
    
            h1 {
                font-family: 'Inter', sans-serif;
                color: black;
                font-weight: bold;
            }
    
            h3 {
                margin-top: 0.5rem;
                font-size:1rem;
                color: gray;
            }
    
            p {
    
                margin: 1rem 5rem;
            }
        }
    
    }
  }